<%= yield %>

<div class = "index_container">
</div>

  <div class = "dash_banner">
     <div class = "dash_banner">ABOUT US</div>
  </div>

  <div class = "about">
    <p>
    Have you ever wanted to play tennis but couldn't find a partner?<br>
    Or had a yearning to go to your local field for a casual game of soccer or baseball?<br>
    <b>TeamUp</b> allows individuals and groups to "team up" in local pick up games happening in Toronto!
    <br>
    <br>
    Whether you're looking for a one-on-one basketball game or want to get your friends together
    for a round of tennis, TeamUp's search function specifies your exact requirements.
    If you can't find a game you want to join, you can also create one and invite others by linking
    them to the event page. You will also have a record of the games you've both created and participated in.
    <br>
    Best of all, you'll never have to worry about a shortage of players again!
    <br>
    <br>
    <b>TeamUP</b> brings people together to enjoy the freedom of outdoor sports!

  </div>

</center>
