<%= yield %>

<div class = "about_container">
  <div class = "about">

    <h1> ABOUT US </h1>

    <p>

    TeamUp offers a way for individuals to "team up" for local games happening in Toronto!
    <br>
    <br>
    Have you ever wanted to play a game of tennis but couldn't find a partner?<br>
    Have you had a hockey game without a goalie?<br>
    Have you ever just wanted to play a casual game of soccer or baseball?<br>
    Is it a beautiful day outside and would you like to take advantage with a game of ultimate frisbee?
    <br>
    <br>
    TeamUP is here to help!
    We are bringing people together in the city of Toronto to join in on local sports games.
    <br>
    </p>

  </div>
</div>
