<div class = "index_container">
<!-- map will have pins with current games going on -->
<!-- <div id="map"> </div> -->
</div>

<div class = "dash_banner">
  <%= "GAMES THIS WEEK" %>
</div>

<div class="dash_images">
  <div class="top_row"><img src="https://unsplash.it/500/600?random=2637339">
  <div class="text">Edit | Delete</div></div>
  <div class="top_row"><img src="https://unsplash.it/500/600?random=2637349">
  <div class="text">Edit | Delete</div></div>
  <div class="top_row"><img src="https://unsplash.it/500/600?random=2637359">
  <div class="text">Edit | Delete</div></div>
  <div class="bottom_row"><img src="https://unsplash.it/500/600?random=2637369">
  <div class="text">Edit | Delete</div></div>
  <div class="bottom_row"><img src="https://unsplash.it/500/600?random=2637379">
  <div class="text">Edit | Delete</div></div>
  <div class="bottom_row"><img src="https://unsplash.it/500/600?random=2637389">
  <div class="text">Edit | Delete</div></div>
</div>
