
<h1>Dashboard</h1>

<!-- search bar -->

<h1>Hello, world!</h1>

<div id="map" style="width: 500px; height: 500px; display: block;">

<script>
// make sure map has dimensions in order to view
  function initMap() {
    console.log('inside init map');

    console.log( document.getElementById( 'map' ) );

    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 43.642, lng: -79.387},
      zoom: 12
    });
  }
</script></div>


<!-- views of all games -->

<h2 class = 'current_games'> Current Games </h2>
