
<h1>Dashboard</h1>

<!-- search bar -->

<div id="map">
  <script>
  // make sure map has dimensions in order to view
    function initMap() {
      console.log('inside init map');

      console.log( document.getElementById( 'map' ) );

      var toronto = new google.maps.LatLng(43.642,-79.387);

      map = new google.maps.Map(document.getElementById('map'), {
        center: toronto,
        zoom: 12
      });

      var request = {
        location: toronto,
        radius: '1000',    // radius in meters
        type: ['stadium']
      };

    }

  </script>
</div>


<!-- views of all games -->

<h2 class = 'current_games'> Current Games </h2>
