<div class = "index_container" id = "index_image">
</div>

<div class = "dash_banner">
     <div class = "dash_header">GAMES THIS WEEK</div>
  </div>

  <div class="dash_images">

  <div class="top_row"><img src="https://unsplash.it/500/600?random=2637339">

  <div class="top_row"><img src="https://unsplash.it/500/600?random=2637349">

  <div class="top_row"><img src="https://unsplash.it/500/600?random=2637359">

  <div class="bottom_row"><img src="https://unsplash.it/500/600?random=2637369">

  <div class="bottom_row"><img src="https://unsplash.it/500/600?random=2637379">

  <div class="bottom_row"><img src="https://unsplash.it/500/600?random=2637389">

</div>
