<div class = "index_container" id = "index_image">
</div>

<div class = "dash_banner">
     <div class = "dash_header">GAMES THIS WEEK</div>
  </div>



  <div class="dash_images">

  <div id = "grass">
    <div id="map"> </div>
  </div>  

</div>
