
<h1>Dashboard</h1>

<!-- search bar -->

<div id="map">
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlGnBvt0DySOTD4Oh0AJ3N-vWRDt1xnkE&callback=initMap&libraries=places" async defer></script>


<!-- views of all games -->

<h2 class = 'current_games'> Current Games </h2>
