<h1>My Profile</h1>

<h3 class = "user-name"> <%= "Hello #{@user.name}"%> </h3>

<div class="user_info">
  <p>Email: <%= @user.email %></p>
</div>

<% if current_user %>

<div class="your-game">
    <div class="profile_links">
        <% if current_user.games.any? %>
          <h2 class="link2"><%= link_to "My Created Games", users_own_games_path %></h2>
        <% end %>

      </div>
</div>
<% end %>

<% if current_user %>
<div class ="your-game">
  <div class = "profile_links">
    <h2 class "link1">
      <% @game.each do |game| %>
        <% game_id = game.id %>
      <% end %>
      <%= link_to "Joined Games", users_join_games_path(game_id: @game.id, user_id: current_user.id) %>
<% end %>
