<div class = "index_container" id = "profile_image">
</div>

<center>
    <div class = "dash_banner">
       <div class = "dash_header">MY PROFILE</div>
    </div>

<h3 class = "user-name"> <%= "Hello #{@user.name}"%> </h3>
<div class="user_info">
  <p>EMAIL: <%= @user.email %></p>
</div>

<div class="your-game">
    <div class="profile_links">
      <h2 class="link1"><%= link_to "JOINED GAMES", users_path %></h2>
        <% if current_user.games.any? %>
          <h2 class="link2"><%= link_to "MY CREATED GAMES", users_own_games_path %></h2>
        <% end %>

      </div>
</div>
</center>
