<div class = "index_container" id = "profile_image">
</div>

<center>
    <div class = "dash_banner">
       <div class = "dash_header">MY PROFILE</div>
    </div>

<h3 class = "user-name"> <%= "Hello #{@user.name}"%> </h3>
<div class="user_info">
  <p>EMAIL: <%= @user.email %></p>
</div>

<% if current_user %>

<div class="your-game">
    <div class="profile_links">
        <% if current_user.games.any? %>
          <h2 class="link2"><%= link_to "MY CREATED GAMES", users_own_games_path %></h2>
        <% end %>

      </div>
</div>
<% end %>

<% if current_user %>
<div class ="your-game">
  <div class = "profile_links">
    <h2 class "link1">
      <% @games.each do |game| %>
        <% game_id = game.id %>
      <% end %>
      <%= link_to "Joined Games", rsvp_index_path %>

<% end %>
</center>
