<center>
  <div class = "index_container" id = "edit_game_image">
  </div>

    <div class = "dash_banner">
       <div class = "dash_header">EDIT YOUR GAME</div>
    </div>

<%= render 'form' %>

</center>
