<h1>Your Joined Games</h1>
<% @rsvps.each do |rsvp| %>
  <ul>
    <li>
      <% m = Game.find_by(id:rsvp.game_id) %>
      <%= m.event_name %>



    </li>
  </ul>
<% end %>

<%= link_to 'Back to Profile', users_profile_path, class: 'back_profile' %>
