<h1> About Us </h1>

<p class = "about">
<br>
TeamUp offers a way for individuals to "team up" for local games happening in Toronto!
<br>
<br>
Have you ever wanted to play a game of tennis but couldn't find a partner?
Have you had a hockey game without a goalie?
Have you ever just wanted to play a casual game of soccer or baseball?
Is it a beautiful day outside and would you like to take advantage with a game of ultimate frisbee?
<br>
TeamUP is here to help!
We are bringing people together in the city of Toronto to join in on local sports games.
<br>
</p>
