#logo {
  font-family: 'Allerta Stencil', sans-serif;
  font-weight: bold;
  font-size: 60px;
  color:black;
  text-shadow: 2px 2px #57bc90;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding-bottom: 20px;
}

.navbar {
  text-decoration: none;
  background-color: #D4EFDF;
  text-align: center;
  line-height: 20px;
  margin: auto;
  top: 60px;
  bottom: 0;
  right: 0;
  left: 0;
}

.site-nav {
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  display: inline;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

ul {
  list-style-type: none;
}

.welcome {
  text-align: center;
  margin: auto;
}
.navnav {
  text-align: center;
  margin: auto;
  word-spacing: 10px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover{
  color: white;
}
