// #logo {
//   font-family: 'Allerta Stencil', sans-serif;
//   font-weight: bold;
//   font-size: 60px;
//   color:black;
//   text-shadow: 2px 2px #57bc90;
//   margin: auto;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   left: 0;
//   padding-bottom: 20px;
// }

.navbar {
  text-decoration: none;
  background-color: #F4F6F6;
  color: #4B4B4B;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: auto;
  z-index: 100;
  position: fixed;
}

.user-nav {
  position: fixed;
  text-decoration: none;
  color: #4B4B4B;
  text-align: center;
  line-height: 50px;
  display: inline;
  margin: auto;
  top: 0;
  width: 100%;
}

ul li {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
}

ul a {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
}


.welcome {
  text-align: center;
  margin: auto;
}

a:visited {
  text-decoration: none;
  color: #4B4B4B;

}

a:hover{
  color: white;
}
