html {
  width: 100%;
}

.navbar {
  text-decoration: none;
  text-align: center;
  line-height: 30px;

}

.site-nav {
  text-decoration: none;
  text-align: center;
  line-height: 30px;
}

ul {
  list-style-type: none;
}
