html {
  font-family: 'Proxima Nova';
  color: #4B4B4B;
  font-size: 16px;
  line-height: 1.35;
  width: 100%
}

.navbar {
  font-family: 'Proxima Nova';
  letter-spacing: -1.2px;
  color: #4B4B4B;
  font-size: 20px;
  width: 100%
}

// .user-nav {
//   font-family: 'Proxima Nova';
//   color: #4B4B4B;
//   font-size: 20px;
//   width: 100%
//
// }
