/*.about_container {*/
  /*background-image: url("hockey.jpg");*/
  /*background-position: center;
  margin: auto;*/
  /*width: 1500px;
  height: 400px;*/
  /*position: fixed;
  left: 80px;*/
/*}*/

.about {
  /*font-family: 'Allerta Stencil';*/
  font-family: 'Proxima Nova';
  font-size: 22px;
  color: white;
  text-align: center;
  background-color: #C8D5B3;
  width: 1050px;
  height:330px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 40px;
}
