/*.about_container {*/
  /*background-image: url("hockey.jpg");*/
  /*background-position: center;
  margin: auto;*/
  /*width: 1500px;
  height: 400px;*/
  /*position: fixed;
  left: 80px;*/
/*}*/

.about {
  /*font-family: 'Allerta Stencil';*/
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  color: white;
  text-align: center;
  background-color: #0E5F56;
  width: 70%;
  height:330px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 90px;
  border-left: #0E5F56 250px solid;
  border-right:#0E5F56 250px solid;
}
