// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#dashboard {
  position: absolute;
  top: 220px;
  left: 5px;
}
