input[type="submit"]{
  border-radius: 8px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  margin: 8px;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: white;
}
