#index_image {
  background-image: url("birdeye.jpeg");
}

#profile_image {
  background-image: url("skateboard.jpg");
}

#about_image {
  background-image: url("newtennis.jpg");
}

#edit_game_image {
  background-image: url("baseball.jpg");
}

#game_index_image {
  background-image: url("basket.jpg");
}

#new_game_image {
  background-image: url("soccer4.jpg");
  repeat: none;
}

#search_image {
  background-image: url("bballcourt.jpg");
}

#new_user_image {
  background-image: url("hockey1.jpeg");
  height: 600px;
  repeat: none;
}

#user_game_image {
  background-image: url("soccer.jpg");
}

#show_game_image {
  background-image: url("softball.jpeg");
  width: 100%;
  height: 80%;
  margin: auto;
  background-position: center;
  position: absolute;
  top:0;
  left: 0;
}
