#index_image {
  background-image: url("birdeye.jpeg");
}

#profile_image {
  background-image: url("skateboard.jpg");
}

#about_image {
  background-image: url("tennis.jpg");
}

#edit_game_image {

}

#game_index_image {

}

#new_game_image {
  background-image: url("soccer4.jpg");
  repeat: none;
}

#search_image {
  background-image: url("bballcourt.jpg");
}

#new_user_image {
  background-image: url("hockey1.jpeg");
}

#user_game_image {

}
