

.user-name {
  font-weight: bold;
  font-size: 30px;
}

.email {
  font-size: 20px;
}

.dash_header {
  font-size: 50px;
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(to right, #ffcf5c, #207068);
  border-image-slice: 5;
  margin-top: -10px;
}

.navbar {
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(to right, #207068, #ffcf5c);
  border-image-slice: 5;
  margin-top: -10px;
}

.link2 a:hover {
  font-size: 18px;
}


.link2 a{
  text-shadow: none;
  border-radius: 8px;
  background-color: #29B3E6; /* #3E93EF */
  border: none;
  color: white;
  margin: 8px;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
