// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#sport {
  background-color: white;
  padding: 10px;
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  border-radius: 5px;
  text-shadow: none;
  box-shadow: none;

}

#neighbourhood {
  background-color: white;
  padding: 10px;
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  border-radius: 5px;
  text-shadow: none;
  box-shadow: none; 

}
