body{
  background-color: #d0d6de;
}
#logo {
  top: 0;
  text-align: center;
  margin: auto;
  color: white;
}

.loginform_container {
  z-index: 15;
  display: none;
  height: 100%;
  width: 100%;
  background-color: rgba(50, 50, 50, 0.5);
  position: fixed;
}
.loginform {
  font-family: 'Allerta Stencil';
   z-index: 15;
    display: block;
    width: 300px;
    height: 15em;
    padding: 2em;
    background-color: white;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 300px;
    left: 0;
    right: 0;
    border: #ceeff0 5px solid;
}

#logintext {
  text-align: center;
  margin: auto;
}

.loginform form {
  text-align: center;
  margin: auto;
  margin-top: 40px;
}

#exit-form{
  position: absolute;
  margin: auto;
  top: 30px;
  right: 30px;
  color: red;
  font-size: 10px;
}

#map {
  z-index: 10;
  position: fixed;
  clear: both;
  width: 800px;
  height: 500px;
  margin: auto;
  top: 70px;
  bottom: 0;
  right: 0;
  left: 0;
}

.index_container {
  background-image: url("newoutdoor.jpg");
  width: 100%;
  height: 80%;
  margin: auto;
  background-position: center;
  position: absolute;
}

.dash_images {
  padding: 0 10%;
}

.top_row {
  position:relative;
  display:inline-block;
  width: 33%;
  margin: 780px auto 0;
}

.bottom_row {
  position:relative;
  display:inline-block;
  width: 33%;
  margin: 33px auto 0;
}


/*.index_container {
  background-image: url("grass.jpg");
  background-position: center;
  margin: auto;
  width: 1700px;
  height: 900px;
  position: fixed;

}*/


#footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    margin: 0 auto;
}
