<!DOCTYPE html>
<html>
  <%= render partial: 'shared/head' %>
  <body>
    <%= yield %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlGnBvt0DySOTD4Oh0AJ3N-vWRDt1xnkE&callback=initMap"
    async defer></script>
  </body>
</html>
